@import-normalize;

* {
    outline: 1px dashed rgba(128, 128, 128, 0.25);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: "Yuanti SC", "SF Pro SC", "SF Pro Text", "SF Pro Icons",
        "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
    margin: 0;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    color: blue;
}

button,
input {
    font: inherit;
}

:focus {
    *outline: none;
}

.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
}

.oneLine {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}
